<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do List V1</title>
  </head>
  <body>
    <h1><%= listTitle %></h1>
      <ul>
        <li><%= addedItem %></li>
      </ul>
      <form action="/" method="post">
        <input type="text" name="addedItem" placeholder="Activity">
        <button type="submit" name="button">Add!</button>
      </form>
  </body>
</html>
