<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-Do List V1</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1> <%= listName %> </h1>
    <h2><%= todayDate %></h2>
  </div>
  <div class="box">
    <% for (let i=0; i < addedItem.length; i++ ){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= addedItem[i] %></p>
    </div>
    <%}%>
    <form action="/" method="post">
      <input type="text" name="addedItem" placeholder="Activity" autocomplete="off">
      <button type="submit" name="list" value=<%= listName %> >+</button>
    </form>
    </div>
  </body>
</html>
